@charset "UTF-8";

body {
    padding-top: 60px;
}

.panelSala{
    background-color:#eee;
    margin: 0 10px 10px 0;
    padding:0 10px 15px 10px;
    min-height:180px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.panelAbajo{
    position: absolute; bottom: 10px; right: 10px;
}

a {
    color:inherit;
}
.DiaActual{
    font-size:8em;
    font-weight:bold;
    margin:0;
}
.MesActual{
    text-align:center;
    font-size:3em;
    font-weight:bold;
    margin:0;
}

.FechaActual{
    font-size:2em;
}
.listaHoras{
   
}
.listaHoras li{
    list-style-type:none;
}
    .listaHoras li > div {
        width:300px;
    }
    .listaHoras li:nth-child(odd) > div{
        border-top:2px solid gray;
    }
    .listaHoras li:nth-child(even) > div{
        border-top:1px solid #eae8e8;
    }
    .hora {
        
    }

.cajaJunta{
    background-color:rgba(255, 106, 0,0.50);
    border:1px solid red;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:200px;
    position:absolute;
    left:100px;
}